header, main {
	background: #F2F2F2;
}
.width-container {
	max-width: 1400px;
	margin: 0 auto;
}
.center-inputs {
	margin: 0 auto;
	max-width: 40rem;
}
.float-right {
	float: right;
}
.float-left {
	float: left;
}
.btn {
	cursor: pointer;
	position: relative;
	text-align: center;
	display: inline-block;
	padding: 0.6rem 1rem;
	font-size: 1rem;
	background: #189FE0;
	color: #FFF;
	border-radius: 0.2rem;
	border: none;
	margin: 0 1rem 1rem 0;
	vertical-align: bottom;
	min-width: 10rem;
	min-height: 3rem;
	&::before {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		border-radius: 0.2rem;
		background: linear-gradient(to bottom, rgba(255,255,255,0.3) 0%, rgba(255,255,255,0) 50%);
		opacity: 0;
		transition: all 150ms;
	}
	&:hover {
		&::before {
			opacity: 1;
		}
	}
	&:disabled {
		background: #CCC;
		cursor: default;
		&:hover {
			&::before {
				opacity: 0;
			}
		}
	}
}
.btn-alt {
	background: #E5417B;
}
.btn-muted {
	background: #999;
}
.btn-link {
	cursor: pointer;
	background: transparent;
	border: none;
	padding: 0;
	color: #189FE0;
	text-decoration: underline;
	font-size: 1rem;
	&:hover {
		
	}
	&:disabled {
		color: #CCC;
		cursor: default;
		&:hover {
			
		}
	}
}
.btn-link-alt {
	color: #E5417B;
}
.btn-small {
	min-width: 3rem;
	padding: 0.2rem 0.5rem;
	margin: 0;
	min-height: 0;
}
.btn-right {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.btn-left {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	margin-right: -3px;
	border-right: 1px solid #FFF;
}
.advert {
	//background: #CCC;
}
#map-container {
	#map-drawer {
		height: 33rem;
		transition: height 500ms;
		display: flex;
	}
	#map {
		flex: 1 1 auto;
	}
	#map-ad {
		flex: 0 0 auto;
		max-width: 0;
		overflow: hidden;
		transition: max-width 500ms;
		background: #EAEAEA;
		.advert {
			transform-origin: left top;
			transition: transform 500ms;
		}
	}
	#hide-map-switch {
		position: absolute;
		right: 0;
		padding: 1rem;
		&::before {
			content: "Hide";
		}
	}
	#hide-map {
		display: none;
		&:checked {
			& + #map-drawer {
				height: 0;
			}
			& ~ #hide-map-switch::before {
				content: "Show";
			}
		}
	}
	.width-container {
		padding: 0 1rem;
	}
	#location-search {
		width: 100%;
		display: block;
		margin: 3rem 0 1rem;
		padding: 1rem;
		font-size: 1rem;
		border: none;
		border-radius: 0.2rem;
	}
}
#form-container {
	padding: 0 1rem;
	overflow: auto;
	#marker {
		float: left;
		margin: 0.5rem 1rem 1.5rem 0;
		height: 2.2rem;
	}
	.hidden-radio {
		display: none;
		&:checked + label.btn {
			background: #189FE0;
		}
	}
	.label {
		display: block;
		font-size: 0.7rem;
		text-transform: uppercase;
		color: #666;
		margin-bottom: 0.4rem;
	}
	h1 {
		font-size: 1.5rem;
		margin: 0 0 1.5rem 0;
		font-weight: normal;
	}
	#destination-options {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-end;
		margin-right: -1rem;
		& > * {
			flex: 1 1 10rem;
		}
	}
	.input-container {
		margin: 0 1rem 1rem 0;
		input {
			color: #444;
			padding: 0.6rem 1rem;
			font-size: 1rem;
			width: 100%;
			border: none;
			border-radius: 0.2rem;
			height: 3rem;
			&:read-only {
				cursor: pointer;
			}
		}
	}
	#add-button {
		height: 3rem;
	}
	#alert-message {
		min-height: 2rem;
		#alert-message-content {
			margin: 0;
			text-align: center;
			font-size: 1rem;
			color: #E5417B;
			transition: all 200ms;
			&.ng-hide {
				opacity: 0;
			}
		}
	}
	#change-units {
		float: right;
	}
	#pikaday-container {
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		z-index: 100;
		width: 100%;
		#pikaday-background {
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: rgba(0,0,0,0.3);
		}
		.pika-single {
			$pm: 15px;
			width: 240px + ($pm * 2);
			margin: 30vh auto 0;
			transform-origin: center top;
			transform: scale(1.25);
			border: none;
			font-family: inherit;
			box-shadow: 0 0 10px rgba(0,0,0,0.4);
			.pika-lendar {
				margin: $pm;
				.pika-table {
					abbr {
						text-decoration: none;
					}
					td, th {
						padding: 1px;
					}
					.pika-button, .pika-button:hover {
						border-radius: 0;
					}
				}
			}
		}
	}
}
#calendar-container {
	padding: 1rem;
	table {
		table-layout: fixed;
		border: 0;
		border-collapse: collapse;
		margin: 0;
		padding: 0;
		th {
			height: 1.5rem;
			font-size: 0.8rem;
			color: #666;
			padding: 0;
			text-align: center;
		}
		td {
			text-overflow: ellipsis;
			padding: 0;
			margin: 0;
			&.destination-cell, &.weather-cell, .destination-container, .weather-container {
				height: 7rem;
			}
			.destination-container, .weather-container {
				margin-right: 0.5rem;
				background: #FFF;
				border-radius: 0.2rem;
			}
			&.estimation-cell, &.weather-text-cell {
				height: 2rem;
				position: relative;
			}
		}
	}
	#calendar-content {
		display: flex;
	}
	#calendar-destinations {
		flex: 0 0 auto;
		.destination-container {
			max-width: 14rem;
			line-height: 1.5;
			padding: 1.2rem 0.5rem;
			.marker {
				float: left;
				width: 1.5rem;
				height: 1.5rem;
				border-radius: 50%;
				border: 3px solid #EEE;
				background: blue;
				color: white;
				text-align: center;
				line-height: 1.2rem;
				font-size: 0.8rem;
				margin: 0.4rem 0.5rem 2rem 0;
			}
			.destination-name {
				font-size: 1rem;
			}
		}
		.estimation-container {
			padding: 0.5rem 1rem 0.5rem 0.5rem;
			font-size: 0.75rem;
		}
	}
	#calendar-weather {
		flex: 1 1 auto;
		overflow: auto;
		table {
			float: left;
		}
		.weather-table {
			margin-left: 0.5rem;
			.weather-container {
				font-size: 0.9rem;
				line-height: 1.4rem;
				cursor: pointer;
				border-bottom: 3px solid #189FE0;
				padding: 0.5rem;
				width: 4rem;
				transition: border-bottom-width 100ms;
				&:hover {
					border-bottom-width: 6px;
				}
				.weather-icon {
					width: 2rem;
					height: 2rem;
					margin: 0 auto;
					background: url(/img/weather.png);
					background-size: 700%;
					background-position: 0% 3%;
					&.clear-day {
						background-position: 19.75% 3%;
					}
					&.clear-night {
						background-position: 39.75% 3%;
					}
					&.rain {
						background-position: 100% 29.5%;
					}
					&.snow {
						background-position: 80% 43%;
					}
					&.sleet {
						background-position: 100% 43%;
					}
					&.wind {
						background-position: 100% 3%;
					}
					&.fog {
						background-position: 0% 29.5%;
					}
					&.cloudy {
						background-position: 0% 56.5%;
					}
					&.partly-cloudy-day {
						background-position: 19.75% 16.75%;
					}
					&.partly-cloudy-night {
						background-position: 39.75% 16.75%;
					}
				}
				.high-temp {
					font-weight: bold;
					font-size: 1rem;
				}
				.low-temp {
					color: #999;
				}
				.rain-chance {
					font-size: 0.8rem;
				}
			}
			.weather-text-container {
				position: absolute;
				top: 0.25rem;
				left: 0;
				height: 1.5rem;
				padding: 0.25rem;
				font-size: 0.75rem;
				background: #DDD;
				border-radius: 0.2rem;
				min-width: 4rem;
				transition: all 200ms;
				&::after {
					content: "";
					display: block;
					position: absolute;
					width: 0;
					height: 0;
					bottom: 100%;
					left: 1.3rem;
					border-left: 8px solid transparent;
					border-right: 8px solid transparent;
					border-bottom: 0.6rem solid #DDD;
				}
				&.ng-hide {
					opacity: 0;
				}
			}
		}
	}
}
#footer-ad {
	overflow: hidden;
	.advert {
		width: 320px;
		margin: 0 auto;
	}
}
.credit-link {
	font-size: 0.75rem;
	text-align: center;
	display: block;
	width: 8rem;
	margin: 1.5rem auto 0;
}








































